<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/gallery" class="nav-link" >Gallery</a></li>
            <li><a href="/search" class="nav-link" >Search</a></li>
            <li><a href="/comment" class="nav-link" >Feedback</a></li>
            <li><a href="/meet" class="nav-link" >Meet Some new friends</a></li>
        </ul>
    </nav>
    <h1>404 ERROR</h1>
    <script src="webserver.js"></script>
</body>
<footer>
    <div class="container">
        <p>&copy; 2024 Share_Your_Life. All rights reserved.</p>
        <p>https://www.youtube.com/watch?v=wIOpe8S2Mk8&t=137s</p> 
        <p>https://www.youtube.com/watch?v=lmCq2ZtoKQs</p>
    </div>
</footer>
</html>